
body {
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    margin: 0px 80px 0px -80px;  
}

/*cabezera*/

header{
background-color:#5b7989;
display: flex;
flex-direction: 2 column;
color: white;
justify-content: space-around;
border-radius: 10px 10px 0px 0px;
width: 80%;
margin:10px 60px -10px 220px;
}

nav{
    margin-top:50px;
    display: flex;
    justify-content: space-evenly; 
}

#fotografia{
    color: white;
    font-size: 30px;
    text-shadow: 2px #02010a;
    margin-left: 0px;
}

a{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.paginainicio:hover{
     color: chartreuse;
}
.paginapaisajes:hover{
    color: chartreuse;
}
.paginaretrato:hover{
    color: chartreuse;
}
.paginapaisajes{
    text-decoration: underline;
    margin:0px 12px 0px 12px;
}
.paginaretrato{
    text-decoration: underline;
}
.paginainicio{
    margin:0px 13px 0px 3px;
    text-decoration: inherit;
}

/*la parte central y abajo de las imagenes*/
 
section{
     background-color: #82c3a6;
     width: 80%;
     margin:10px 60px 10px 220px;
}
.contenido{
    display: flex;
    flex-direction: column;
}
 /*imagen central*/
#centro{
    display: flex;
    flex-direction: row;
}
#imagenCentral{
     width:100%;
     display: flex;
     justify-content: center;
}
#imagenCentral img{
    width: 400px;
    height: 200px;
    margin:10px 0px 10px 0px;
    box-shadow: 2px 2px 2px  #02010a;    
}

/*imagen de abajo*/

#abajo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d5c75f ;
    border: 1px;
    justify-content: space-evenly;
}
#imagenSecundaria1 img {
    width: 200px;
    height: 180px;
    margin:5px 0px 5px 0px;
    box-shadow: 2px 2px 2px  #02010a;
    display: flex;
    flex-direction: column;
}
#imagenSecundaria2 img {
    width: 200px;
    height: 180px;
    margin:5px 0px 5px 0px;
    box-shadow: 2px 2px 2px  #02010a;
    display: flex;
    flex-direction: column;
}

/*pie de pagina*/

#pieDePagina{
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: 4 column;
    justify-content: space-evenly;
    margin:-10px 60px 100px 220px;
    width: 80%;
}
#redes img {
    width: 20px;
    height: 20px;
}
p{
font-size: 10px;
}
#redes h2{
font-size: 20px;
margin-top:100px;
}
#iconos{
    display: flex;
    flex-direction: column;
}
#imagenSecundaria1:hover{
   transform: rotate(10deg);
   border:2px;
   box-shadow: #82c3a6 ;
}
#imagenSecundaria2:hover{
    transform: translate(20px,-5px);
    border:2px;
   box-shadow: #82c3a6 ;
}



/*________________________________________________*/
/*maximo 320px*/


@media screen and (max-width:320px) {
    body {
        background-color: #02010a;
        font-family: 'Dancing Script', cursive;
        width: 100%;
        margin: 0px 0px 0px -220px;
        animation-name: slidein;
        animation-duration: 3s;
    }


    @keyframes slidein {
            from {
              margin-top: 150%;
              width: 100%
            }
          
            to {
              margin-top: -5%;
              width: 100%;
            }
    }
 
    /*cabezera*/
    
    
    header{
    background-color:#5b7989;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    border-radius: 10px 10px 0px 0px;
    width: 80%;
    height: 80px;
    margin:10px 90px -10px 235px;
    }
    nav{
        margin-top:40px;
        display: flex;
        justify-content: space-around; 
    }
    #fotografia{
        color: white;
        font-size: 20px;
        text-shadow: 2px #02010a;
        margin:82px 0px 0px 16px;
        text-align: center;
    }
    a{
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
    }
    .paginainicio:hover{
         color: chartreuse;
    }
    .paginapaisajes:hover{
        color: chartreuse;
    }
    .paginaretrato:hover{
        color: chartreuse;
    }
    .paginapaisajes{
        text-decoration: underline;
        margin:-30px 12px 80px 12px;
    }
    .paginaretrato{
        text-decoration: underline;
        margin:-30px 0px 80px 0px;
    }
    .paginainicio{
        margin:-30px 13px 80px 3px;
        text-decoration: inherit;
    }
    
    /*la parte central y abajo de las imagenes*/
     
    section{
         background-color: #82c3a6;
         width: 80%;
         margin:10px 60px 10px 235px;
    }
    
     /*imagen central*/
    
    #imagenCentral{
         width:100%;
         display: flex;
         justify-content: center;
    }
    #imagenCentral img{
        width: 200px;
        height: 160px;
        margin:10px 0px 10px 0px;
        box-shadow: 2px 2px 2px  #02010a;
    }
    
    /*imagen de abajo*/
    
    #abajo{
        display: flex;
        flex-direction:  column;
        justify-content: center;
        background-color: #d5c75f ;
        border: 1px;
        justify-content: space-evenly;
    }
    #imagenSecundaria1 img {
        width: 200px;
        height: 160px;
        margin:10px 0px 10px 25px;
        box-shadow: 2px 2px 2px  #02010a;
    }
    #imagenSecundaria2 img {
        width: 200px;
        height: 160px;
        margin:10px 0px 10px 25px;
        box-shadow: 2px 2px 2px  #02010a;
    }
    
    /*pie de pagina*/
    
    #pieDePagina{
        background-color: #C6d5c5;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction:  column;
        justify-content: space-evenly;
        margin:-10px 60px 220px 235px;
        width: 80%;
    }
    #redes img {
        width: 20px;
        height: 20px;
    }
    p{
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    }
    h2{
    font-size:20px; 
    display: flex; 
    justify-content: center;
    }
    #iconos{
        display: flex;
        flex-direction: column;
    }
    #imagenSecundaria1:hover{
        transform: rotate(10deg);
        border:2px;
        box-shadow: #82c3a6 ;
    }
    #imagenSecundaria2:hover{
         transform: translate(20px,-5px);
         border:2px;
        box-shadow: #82c3a6 ;
    }

}
