

article[class^="caja"]{
    border: none;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-left: 160px;
    margin-bottom: 50px;
    margin-top: 30px;
    
  }
.container{
    background-color:#d5c75f ;
}
/* paisajes */

img {
  width:400px;
  height: 300px;
  margin-left:-50px;
  margin-bottom: 20px;
}
.cajaA, .cajaAA img {
  -webkit-filter:blur(10px);
   filter:blur(10px),
}
.cajaB,.cajaD, .cajaF img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.cajaBB,.cajaDD, .cajaFF img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.cajaC, .cajaCC img {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}