
body {
    background-color: #5b7989 ;
    
}


/* titulo */
#fotografia{
    color: blanchedalmond;
    margin-left: 10px;
    text-shadow: 2px  #02010a;
    font-size: 30px;
    font-family: cursive; 
}
 
/*barra de navegacion*/
.paginas{
    margin-left: 2000px;
}
.paginas{
  
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive; 
    color:black;
    
    
}
.paginas a:hover {

    color: chartreuse;
      }
.paginainicio {
    text-decoration: inherit;
    color:white; 
    width: 0px; 
}
.paginapaisajes{
    color:white;
}
.paginaretratos{
    color:white;
    
    
}
/*cajas*/


.contenedor{
        background-color: #82c3a6;  
        margin-left: -100px;
        margin-right: -100px;
       
    }
#caja img {
    width: 1000px;
    height: 500px;
    margin-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cajasDeabajo{
    background-color: #d5c75f ;
    display: flex;
    flex-direction: 2 column;
    border: 1px;
    justify-content: center;
    justify-content: space-around;
}
#caja2 img {
    width: 600px;
    height: 400px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 100px;


}
#caja3 img {
    width: 600px;
    height: 400px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:100px,

}
#paisaje ,#retrato{
    color: blue;
    text-align: center;
    font-family: 'Bangers', cursive; 
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: underline;
}
#caja2:hover {
    transform: rotate(10deg);
    box-shadow: #82c3a6 ;
    border:2px;

}
#caja3:hover {
    transform:translate(20px,-5px);
    box-shadow:#82c3a6  ;
    border:2px;
}
/*pie de pagina*/

.pieDePagina{
    background-color:#C6d5c5 ;
    display: flex;
    justify-content: space-around;
    flex-direction: 4 column ;
margin-left: -100px;
margin-right: -100px;
border-radius:10px;
}
#terceros img{
    display: flex;
    flex-direction: column ; 
    align-items: center;
    width: 30px;
    height: 30px;
}
h2 {
    font-family: 'Bangers', cursive; 
    font-size: 30px; 
}
h4 , p  {
    font-family: 'Fugaz One', cursive;
    font-size: 15px;
}



/*nav */
@media screen and (max-width:960px){
    .paginas{
        width:100%;
        margin:0 auto; 
        
    }}
@media screen and (max-width:640px){
    .paginas{
        width:100%;
        margin:0 auto;  
           
        }}
@media screen and (min-width:480px){
    .paginas{
        width:100%;
        margin:0 auto;
        font-size:15px;
        display: flex;  
        justify-content: space-around ;
          
        }}
        
            
    /*fotografia*/        
            
    @media screen and (max-width:960px){
           #fotografia{
                   width: 100%;
                   margin:0 auto;} 
                }
    @media screen and (max-width:640px){
            #fotografia{
                   width: 100%;
                   margin:0 auto;
                   
                    } 
                }
    @media screen and (max-width:480px){
            #fotografia{
                   width: 100%;
                   margin:0 auto;
                   font-size: 15px;
                   display: flex;
                   justify-content: center;
                        }    
                }
                
                
    /*cajas todas */

    @media screen and (max-width:480px){

        #caja img{
            width: 100%;
            margin:0 auto;
        }
    }
    
    @media screen and (max-width:480px){

        #caja2 img{
            width: 100%;
            display: flex;
            justify-content: center;
    }}
    @media screen and (max-width:480px){

        #caja3 img{
            width: 100%;
            display: flex;
            justify-content: center;
    }} 