
body {
    background-color: #5b7989 ;
    
}


/* titulo */
#fotografia{
    color: blanchedalmond;
    margin-left: 10px;
    text-shadow: 2px  #02010a;
    font-size: 39px;
    font-family: 'Dancing Script', cursive;
}
 
/*barra de navegacion*/
nav{
    margin-left: 1100px;
    color:whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-items: center;
    justify-content: space-around;
   
}


 .paginainicio{
     color:whitesmoke;
     text-decoration: inherit;
 }
 .paginapaisajes{
    color:whitesmoke;
    
}
.paginaretrato{
    color:whitesmoke;
}
.paginainicio:hover{
    color: chartreuse;
}
.paginapaisajes:hover{
    color: chocolate;
}
.paginaretrato:hover{
    color: gold;
}
/*cajas*/


.contenedor{
        background-color: #82c3a6;  
        margin-left: -100px;
        margin-right: -100px;
       
    }
#caja img {
    width: 1000px;
    height: 500px;
    margin-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cajasDeabajo{
    background-color: #d5c75f ;
    display: flex;
    flex-direction: 2 column;
    border: 1px;
    justify-content: center;
    justify-content: space-around;
}
#caja2 img {
    width: 600px;
    height: 400px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 100px;


}
#caja3 img {
    width: 600px;
    height: 400px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:100px,

}
#paisaje ,#retrato{
    color: blue;
    text-align: center;
    font-family: 'Bangers', cursive; 
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: underline;
}
#caja2:hover {
    transform: rotate(10deg);
    box-shadow: #82c3a6 ;
    border:2px;

}
#caja3:hover {
    transform:translate(20px,-5px);
    box-shadow:#82c3a6  ;
    border:2px;
}
/*pie de pagina*/

.pieDePagina{
    background-color:#C6d5c5 ;
    display: flex;
    justify-content: space-around;
    flex-direction: 4 column ;
margin-left: -80px;
margin-right: -100px;
border-radius:10px;
}
#terceros img{
    display: flex;
    flex-direction: column ; 
    align-items: center;
    width: 30px;
    height: 30px;
}
h2 {
    font-family: 'Mansalva', cursive; 
    font-size: 20px; 
    margin-left: 0px;
}
h4 , p  {
    font-family: 'Fugaz One', cursive;
    font-size: 15px;
    margin-left: 20px;
}
#copy{
    margin-left: -20px;
}

/*medias*/
/* titulo y nav y cajas*/
@media screen and (max-width:900px){
    #fotografia{
        width:100%;
        text-align: center;
        margin-left: 110px;
    }
    nav {
        width:100%;
        margin-left: 140px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
    .contenedor{
        width: 100%;
        margin-left: 100px;
        
    }
    #caja img{
        width: 100%;
        margin-right: 800px;
        margin-left:0px;
        display: flex;
        justify-content: center;
        margin-bottom: -10px;
    }
   .pieDePagina{
        width: 100%;
        margin-left: 70px;
        display: flex;
        justify-content: space-around;
        
    }
    #primeros{
        width: 100%;
        font-size:10px;
        font-family: cursive;
    }
    #segundos{
        width: 100%;
        font-size:10px;
        font-family: cursive;
    }
    #terceros{
        width: 100%;
        font-size:10px;
        font-family: cursive;
    }
    #cuartos{
        width: 100%;
        font-size:10px;
        font-family: cursive;
    }

}
/*formato para galaxy s5*/
@media screen and (max-width:360px){
    body{
        display: flex;
        flex-direction: column;
    }
    #cajasDeabajo{
        display: flex;
        flex-direction: column;
        margin-left:-120px;
        margin-right: -100px;
     
    }
    #caja3 img {
        width:300px;
        height: 250px;
        margin-left: 153px;
    }
    #caja2 img {
        width:300px;
        height: 250px;
        margin-left:153px ;
       
    }
    .pieDePagina{
        display: flex;
        flex-direction: column;
        margin-left: -10px; 
        margin-top:5px;
        justify-content: center;

    }
    p{
        text-align: center;
    }
    
    #caja img{
       width:300px;
       height: 200px;
       display: flex;
       justify-items: center;
       margin-left: 35px;
       margin-bottom: 60px;
       
    }
    .contenedor{
        
        width: 400px;
        margin-left: -30px;
    
       
    }
    #fotografia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 15px;
        margin-left: 5px;

    }
    nav{
        display: flex;
        justify-content: center;
        margin-left: -5px ;
        font-size: 15px;
    }
    #caja2:hover{
    transform: rotate(10deg);
    box-shadow: #82c3a6 ;
    border:2px;
    }
    #caja3:hover {
        transform:translate(20px,-5px);
        box-shadow:#82c3a6  ;
        border:2px;
    }
}
         